.thumbs-wrapper {
  display: none;
}

.car-img {
  height: 340px;
}

/* .img-container {
  max-width: 1100px;
} */

.who-section {
  padding: 20px 10px 20px 10px;
  text-align: center;
  background: #fff;
  color: #002944;
}

.who-tag {
  margin-bottom: 5px;
}

.who-border {
  border-bottom: 1px solid #002944;
  margin: 0 auto 15px auto;
  width: 20%;
}

.who-p {
  line-height: 1.5;
  margin-top: 10px;
}

.social-icon {
  color: #0047A0;
  font-size: 1.5rem;
}