.values-section {
  background: #002944;
  color: #fff;
  text-align: center;
  padding: 30px 10px 30px 10px;
}

.values-border {
  border-bottom: 1px solid #fff;
  margin: 10px auto 20px auto;
  width: 20%;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  /* width: 80%; */
  margin: auto;
}

.card {
  background: #fff;
  color: #002944;
  box-shadow: 0 5px 10px 5px rgba(151, 151, 151, 0.2);
  padding: 12px;
  height: 90px;
  width: 150px;
  word-wrap: normal;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

@media(min-width: 685px) {
  .card {
    max-width: 10vw;
  }
}